*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
h1
{
    font-size: 90px;
    line-height: 65px;
    color: #222;
}
h2
{
    font-size: 90px;
    line-height: 55px;
    color: black;
}
p
{
    forced-color-adjust: #333;
    font-size: 45px;
}
button
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
}
/*header start */
#header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;                                            /*left and right space*/
    background-color: #e3e3e3;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);      /*from X, y and radius*/
    position: sticky;
    top: 0;
    left: 0;              
 }                  
#navbar
{
 display: flex;
 align-items: center;
 justify-content:cente;
}
#navbar li
{
    list-style: none;
    padding: 0 20px;
    position: relative;        /*for underline*/
}
#navbar li a
{
 text-decoration: none;
 font-size: 16px;
 font-weight: 600;
 color: #1a1a1a;
 transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active
{
    color: blueviolet;
}
#navbar li a.active::after,
#navbar li a:hover::after                 /*for underline effect*/
{
    content: "";
    width: 30%;
    height: 2px;
    background-color:blueviolet ;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/*Home Page*/
#main
{
    background: url("img/p1.jpg");
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
   background-position: center center;
}

#hero 
{
padding: 0 120px;
display: flexbox;
text-align: center;
justify-content: center;
padding-top: 180px;
padding-right: 599px;

}
#hero h2
{
    padding-bottom: 40px;

}
#hero h1
{
    padding-bottom: 40px;
    color: goldenrod;

}
#hero p
{
    font-size: 3ch;
    padding-bottom: 20px;

}
#heading
{
padding-bottom: 5px;
}
#icon-containor
{
background: #e3e3e3;
display: flex;
flex-wrap: wrap;
gap: 1.5rem;
padding-top: 5rem;
padding-bottom: 5rem;
}
#icon-containor
{
    padding: 1000px;
}
.about .row
{
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.about .row .video-container
{
    flex: 1 1 40rem;
    position: relative;
}
.about .row .video-container video
{
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}
.about h1
{
color: goldenrod;
padding-left: 500px;
}
.about .row .video-container h3
{
position: absolute;
top: 50%;
transform: translateY(-50%);
font-size: 3rem;
width: 100%;
background: #e3e3e3;
padding: 1rem 2rem ;
text-align: center;
mix-blend-mode: screen;
}
.about   .row     .content
{
    flex: 1 1 40rem;

}

